In [250]:
# Author : Ian Fogelman
# Title : MongoDB and Datascience
# Date : 03/08/2023

## Requirements.txt

<div class="alert alert-block alert-info">
<b>Info:</b> Uncomment the cells below to install the required libraries to run this demo.
</div>

In [256]:
#!pip install pymongo
#! pip install pandas
#! pip install numpy
#! pip install sklearn

In [307]:
import pymongo
import pickle
import pandas as pd
import numpy as np
import pprint
import json
import warnings
import pprint
from numpy import random
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
import bson

from datetime import datetime
warnings.filterwarnings('ignore')

## Start MongoDB Locally

The quickest way to start MongoDB locally is with docker.

Install docker @ https://docs.docker.com/get-docker/, then run:

``` cmd
    docker run --name mongo -p 27017:27017 -d mongodb/mongodb-community-server:latest
```

<div class="alert alert-block alert-warning">
<b>Warning:</b> This example uses a community image, this is for demo purposes only!
</div>

You should now be able to connect to your docker deployment with MongoDB compass, mongosh or any driver using `mongodb://localhost:27017`.

## Use Pymongo to Connect to a Local Deployment

In [308]:
client = pymongo.MongoClient('mongodb://localhost:27017')
db = client['datascience']
db.create_collection("iris")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'datascience'), 'iris')

## Read Iris Data Into Dataframe

In [332]:
df = pd.read_csv('https://raw.githubusercontent.com/Ian-Fogelman/Col-DataScience-03-09-2023-/main/iris.csv')
df

     sepal-length  sepal-width  petal-length  petal-width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

## Load Data To MongoDB

In [310]:
db.iris.insert_many(df.to_dict('records'))

## Add a column to the Dataframe

In [311]:
df['petal-color'] = np.random.randint(0,5, size=len(df))
#0 = white
#1 = red
#2 = blue
#3 = green
#4 = yellow
#5 = purple

In [312]:
df

,sepal-length,sepal-width,petal-length,petal-width,variety,petal-color
0,5.1,3.5,1.4,0.2,Setosa,3
1,4.9,3.0,1.4,0.2,Setosa,2
2,4.7,3.2,1.3,0.2,Setosa,0
3,4.6,3.1,1.5,0.2,Setosa,0
4,5.0,3.6,1.4,0.2,Setosa,4
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,3
146,6.3,2.5,5.0,1.9,Virginica,3
147,6.5,3.0,5.2,2.0,Virginica,2
148,6.2,3.4,5.4,2.3,Virginica,1
149,5.9,3.0,5.1,1.8,Virginica,4

In [313]:
#drop the current collection and write the new records to database
db.drop_collection("iris")
db.iris.insert_many(df.to_dict('records'))

## Array based storage

In [314]:
df['water-history'] = ''

for index, row in df.iterrows():
    array = random.randint(10, size=(7))
    df['water-history'][index] = [random.randint(3, 9),random.randint(3, 9),random.randint(3, 9),random.randint(3, 9),random.randint(3, 9),random.randint(3, 9),random.randint(3, 9)]

In [315]:
df

,sepal-length,sepal-width,petal-length,petal-width,variety,petal-color,water-history
0,5.1,3.5,1.4,0.2,Setosa,3,"[3, 6, 5, 5, 4, 5, 6]"
1,4.9,3.0,1.4,0.2,Setosa,2,"[4, 4, 5, 5, 6, 6, 4]"
2,4.7,3.2,1.3,0.2,Setosa,0,"[5, 4, 8, 4, 5, 3, 8]"
3,4.6,3.1,1.5,0.2,Setosa,0,"[5, 6, 5, 6, 6, 6, 8]"
4,5.0,3.6,1.4,0.2,Setosa,4,"[7, 4, 6, 5, 7, 5, 7]"
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,3,"[7, 7, 8, 8, 5, 4, 4]"
146,6.3,2.5,5.0,1.9,Virginica,3,"[5, 4, 4, 3, 7, 8, 8]"
147,6.5,3.0,5.2,2.0,Virginica,2,"[6, 8, 5, 4, 3, 3, 8]"
148,6.2,3.4,5.4,2.3,Virginica,1,"[7, 8, 3, 3, 4, 6, 8]"
149,5.9,3.0,5.1,1.8,Virginica,4,"[8, 6, 5, 6, 4, 5, 5]"

### Object Storage

In [316]:
def object_to_json(obj):
    return json.dumps(obj.__dict__)

class Gardner:
    def __init__(self, name, experience):
        self.name = name
        self.experience = experience

g = Gardner('Joe',3)

In [317]:
object_to_json(g)

'{"name": "Joe", "experience": 3}'

In [318]:
df['gardner'] = object_to_json(g)

In [319]:
db.drop_collection("iris")
db.iris.insert_many(df.to_dict('records'))

In [320]:
df

,sepal-length,sepal-width,petal-length,petal-width,variety,petal-color,water-history,gardner
0,5.1,3.5,1.4,0.2,Setosa,3,"[3, 6, 5, 5, 4, 5, 6]","{""name"": ""Joe"", ""experience"": 3}"
1,4.9,3.0,1.4,0.2,Setosa,2,"[4, 4, 5, 5, 6, 6, 4]","{""name"": ""Joe"", ""experience"": 3}"
2,4.7,3.2,1.3,0.2,Setosa,0,"[5, 4, 8, 4, 5, 3, 8]","{""name"": ""Joe"", ""experience"": 3}"
3,4.6,3.1,1.5,0.2,Setosa,0,"[5, 6, 5, 6, 6, 6, 8]","{""name"": ""Joe"", ""experience"": 3}"
4,5.0,3.6,1.4,0.2,Setosa,4,"[7, 4, 6, 5, 7, 5, 7]","{""name"": ""Joe"", ""experience"": 3}"
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,3,"[7, 7, 8, 8, 5, 4, 4]","{""name"": ""Joe"", ""experience"": 3}"
146,6.3,2.5,5.0,1.9,Virginica,3,"[5, 4, 4, 3, 7, 8, 8]","{""name"": ""Joe"", ""experience"": 3}"
147,6.5,3.0,5.2,2.0,Virginica,2,"[6, 8, 5, 4, 3, 3, 8]","{""name"": ""Joe"", ""experience"": 3}"
148,6.2,3.4,5.4,2.3,Virginica,1,"[7, 8, 3, 3, 4, 6, 8]","{""name"": ""Joe"", ""experience"": 3}"
149,5.9,3.0,5.1,1.8,Virginica,4,"[8, 6, 5, 6, 4, 5, 5]","{""name"": ""Joe"", ""experience"": 3}"

## Set the column names

In [321]:
column_names = [
    'sepal-length',
    'sepal-width',
    'petal-length',
    'petal-width',
    'petal-color',
    #'water-history' #comment this out to build the model.
]
x = df.loc[:, column_names] #features
y=df.iloc[:,4] #label
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

### Build a logictic regression model

In [322]:
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array(['Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa',
       'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Virginica', 'Setosa', 'Setosa', 'Versicolor', 'Versicolor',
       'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Virginica',
       'Virginica', 'Versicolor', 'Setosa', 'Virginica'], dtype=object)

In [323]:
confusion_matrix(y_test,y_pred)
accuracy=accuracy_score(y_test,y_pred)*100
print("Accuracy of the model is {:.2f}".format(accuracy))

Accuracy of the model is 97.37

## But how to incoporate the water-history array?

This could be accomplished through application logic, you can also use a MongoDB view to unpack the array values.

To do this, you will need to create an aggregation pipeline and then save it as a view.

Aggregation pipelines allow you to manipulate and aggregate your data in several ways.

For this particular view we will use the [$arrayElemAt](https://www.mongodb.com/docs/manual/reference/operator/aggregation/arrayElemAt/) operator.

To do this:

1. Create an Aggregation Pipeline.
2. Create a view from the Aggregation Pipeline.

## Create an Aggregation Pipeline

In [324]:
pp = pprint.PrettyPrinter(indent=4)

pipeline = [
   {
     "$project":
      {
         "_id" : 1,
         "variety" : 1,
         "petal-color" : 1,
         "petal-width" : 1,
         "petal-length" : 1,
         "sepal-width": 1,
         "sepal-length": 1,
         "waterhistory_day1": { "$arrayElemAt": [ "$water-history", 0 ] },
         "waterhistory_day2": { "$arrayElemAt": [ "$water-history", 1 ] },
         "waterhistory_day3": { "$arrayElemAt": [ "$water-history", 2 ] },
         "waterhistory_day4": { "$arrayElemAt": [ "$water-history", 3 ] },
         "waterhistory_day5": { "$arrayElemAt": [ "$water-history", 4 ] },
         "waterhistory_day6": { "$arrayElemAt": [ "$water-history", 5 ] },
         "waterhistory_day7": { "$arrayElemAt": [ "$water-history", 6 ] },
      }
   }
]

result = db.iris.aggregate(pipeline)

list_cur = list(result)
df = pd.DataFrame(list_cur) #convert the pymongo cursor to dataframe.
df

,_id,sepal-length,sepal-width,petal-length,petal-width,variety,petal-color,waterhistory_day1,waterhistory_day2,waterhistory_day3,waterhistory_day4,waterhistory_day5,waterhistory_day6,waterhistory_day7
0,640902c7effc4f4e9d1eb24f,5.1,3.5,1.4,0.2,Setosa,3,3,6,5,5,4,5,6
1,640902c7effc4f4e9d1eb250,4.9,3.0,1.4,0.2,Setosa,2,4,4,5,5,6,6,4
2,640902c7effc4f4e9d1eb251,4.7,3.2,1.3,0.2,Setosa,0,5,4,8,4,5,3,8
3,640902c7effc4f4e9d1eb252,4.6,3.1,1.5,0.2,Setosa,0,5,6,5,6,6,6,8
4,640902c7effc4f4e9d1eb253,5.0,3.6,1.4,0.2,Setosa,4,7,4,6,5,7,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,640902c7effc4f4e9d1eb2e0,6.7,3.0,5.2,2.3,Virginica,3,7,7,8,8,5,4,4
146,640902c7effc4f4e9d1eb2e1,6.3,2.5,5.0,1.9,Virginica,3,5,4,4,3,7,8,8
147,640902c7effc4f4e9d1eb2e2,6.5,3.0,5.2,2.0,Virginica,2,6,8,5,4,3,3,8
148,640902c7effc4f4e9d1eb2e3,6.2,3.4,5.4,2.3,Virginica,1,7,8,3,3,4,6,8
149,640902c7effc4f4e9d1eb2e4,5.9,3.0,5.1,1.8,Virginica,4,8,6,5,6,4,5,5

### Create a View From the Aggregation Pipeline

In [325]:
db.command({
    "create": "expanded_iris",
    "viewOn": "iris", 
    "pipeline": pipeline
})

{'ok': 1.0}

You can now view the data expanded by querying the expanded_iris view, this view will have a column for each array value of the water history array.

## Retrain the model, with the new water history fields.

In [326]:
column_names = [
    'sepal-length',
    'sepal-width',
    'petal-length',
    'petal-width',
    'petal-color',
    'waterhistory_day1',
    'waterhistory_day2',
    'waterhistory_day3',
    'waterhistory_day4',
    'waterhistory_day5',
    'waterhistory_day6',
    'waterhistory_day7'
]
x = df.loc[:, column_names] #features
y=df.iloc[:,5] #label, shift over 1 position because of id field.
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [327]:
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array(['Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa',
       'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Versicolor', 'Setosa', 'Setosa', 'Versicolor', 'Versicolor',
       'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Virginica',
       'Virginica', 'Versicolor', 'Setosa', 'Virginica'], dtype=object)

## Reassess Model Accuracy

In [328]:
#accuracy
confusion_matrix(y_test,y_pred)
accuracy=accuracy_score(y_test,y_pred)*100
print("Accuracy of the model is {:.2f}".format(accuracy))

Accuracy of the model is 94.74

In [329]:
# save 
pickle.dump(model, open('model.pkl','wb'))

# load 
model = pickle.load(open('model.pkl','rb'))

model.fit(x_train,y_train)
y_pred=model.predict(x_test)
confusion_matrix(y_test,y_pred)
accuracy=accuracy_score(y_test,y_pred)*100
print("Accuracy of the model is {:.2f}".format(accuracy))

Accuracy of the model is 94.74

## Store The Pickeled Model In MongoDB

In [330]:
now = datetime.now().strftime("%m/%d/%Y %H:%M:%S")
db.models.insert_one({
    "_id" : 1,
    "Timestamp" : now,
    "model_binary": bson.Binary(pickle.dumps(model)),
})

## Retreive The Model from MongoDB

In [331]:
record = db.models.find_one({"_id" : 1})
model_2 = pickle.loads(record["model_binary"])
model_2.fit(x_train,y_train)
y_pred= model_2.predict(x_test)
confusion_matrix(y_test,y_pred)
accuracy=accuracy_score(y_test,y_pred)*100
print("Accuracy of the model is {:.2f}".format(accuracy))

Accuracy of the model is 94.74

### Start MongoDB In the Cloud with MongoDB Atlas

To sign up for Atlas get started here: https://www.mongodb.com/cloud/atlas/register

### Connect to Your Atlas Cluster

In [265]:
un = ''
pw = ''
client = pymongo.MongoClient("mongodb+srv://{username}:{password}@sandbox.xxxxx.mongodb.net/?retryWrites=true&w=majority".format(username = un, password = pw))

db = client['datascience']
db.create_collection("iris")